<h1 mat-dialog-title align="center">Edit Profile</h1>

<div mat-dialog-content>

  <div class="container">
    <form [formGroup]="personal">
      <h2 class="mat-h2">Personal</h2>

      <mat-form-field appearance="outline">
        <mat-label>Id</mat-label>
        <input matInput formControlName="id">
        <mat-error *ngIf="personal.controls['id'].invalid">{{getid()}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="first">
        <mat-error *ngIf="personal.controls['first'].invalid">{{getfirst()}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="last">
        <mat-error *ngIf="personal.controls['last'].invalid">{{getlast()}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
        <mat-error *ngIf="personal.controls['email'].invalid">{{getemail()}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Gender</mat-label>
        <input matInput formControlName="gender">
        <mat-error *ngIf="personal.controls['gender'].invalid">{{getgender()}}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Phone Number</mat-label>
        <input matInput formControlName="phone">
        <mat-error *ngIf="personal.controls['phone'].invalid">{{getphone()}}</mat-error>
      </mat-form-field>
    </form>
  </div>

  <div class="container performance">
    <form [formGroup]="performance">
      <h2 class="mat-h2">Performance</h2>
      <mat-form-field appearance="outline">
        <mat-label>Percentage</mat-label>
        <input matInput formControlName="percentage">
        <mat-error *ngIf="performance.controls['percentage'].invalid">{{getpercentage()}}</mat-error>
      </mat-form-field>
    </form>
  </div>


  <div class="container address">
    <form [formGroup]="address">
      <h2 class="mat-h2">Address</h2>
      <section formArrayName="add">
        <section *ngFor="let list of addressarray.controls;let i=index">
          <section [formGroupName]="i">

            <section *ngIf="i<2">
              <div class="bu tton">
                <button (click)="add()" mat-stroked-button color="primary">Add</button>
                <button (click)="remove(i)" mat-stroked-button color="primary">Remove</button>
              </div>
              <mat-form-field appearance="outline">
                <mat-label>Street</mat-label>
                <input matInput formControlName="street">
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>City</mat-label>
                <input matInput formControlName="city">
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Pincode</mat-label>
                <input matInput formControlName="pincode">
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>State</mat-label>
                <input matInput formControlName="state">
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Country</mat-label>
                <input matInput formControlName="country">
              </mat-form-field>
            </section>
          </section>

        </section>
      </section>
    </form>
  </div>

  <div mat-dialog-actions align="center">
    <button (click)="update2()" mat-stroked-button mat-dialog-close color="primary">Update</button>
  </div>




</div>
