<h1 class="mat-h1" align="center"><i class="fas fa-user-circle"></i> Add User</h1>

<div class="container top">



  <div *ngFor="let sample of buttoncollection">

  </div>

  <button (click)="addPersonal()" mat-raised-button color="primary">Add Personal</button>

  <button (click)="addPerformance()" mat-raised-button color="primary">Add Performance</button>

  <button (click)="addaddress()" mat-raised-button color="primary">Add Address</button>


      <div class="row" #personal></div>

      <div class="row" #performance></div>

      <div class="row" #address></div>



  <div class="text-center">
    <button (click)="addpersonaldata()" mat-raised-button color="primary">Submit</button>
  </div>

</div>
