.top{

  margin-bottom:100px;
  margin-top:100px;
  padding-bottom:30px;
}

h1{
  font-size: 35px;
  padding-top: 20px;
  padding-bottom: 40px;
}

.card{
  border:1px dashed black;
}

button{
  margin:10px;
  border-radius:1rem;
}

table{
  width:100%;
}

