<div class="container top">





  <mat-card class="card">
    <h1 class="mat-h1" align="center"><i class="fas fa-user-circle"></i> Add User</h1>

    <mat-card-content>
      <button (click)="addPersonal()" mat-raised-button class="personal">Add Personal</button>

      <button (click)="addPerformance()" mat-raised-button class="performance">Add Performance</button>

      <button (click)="addaddress()" mat-raised-button class="address">Add Address</button>


      <div class="row" #personal></div>

      <div class="row" #performance></div>

      <div class="row" #address></div>






      <div class="text-center">
        <button (click)="addpersonaldata()" [disabled]="form1.invalid" mat-raised-button color="primary">Submit</button>
      </div>

    </mat-card-content>
  </mat-card>


</div>
