<mat-toolbar color="primary">
  <button mat-icon-button class="exmaple-icon">
    <mat-icon aria-hidden="flase" aira-label="example home icon"><a routerLink="/login">home</a></mat-icon>
  </button>

  <a routerLink="/form" target="_blank">
    <button mat-flat-button color="primary" [ngStyle]="{'font-size':'18px'}"> Add User</button>
  </a>
</mat-toolbar>


<div class="jumbotron">

  <mat-form-field class="example" appearance="outline">
    <mat-label>Search</mat-label>
    <input matInput (keyup)="filter($event)">
  </mat-form-field>

  <mat-paginator [pageSizeOptions]="[10,20,30]" showFirstLastButtons></mat-paginator>

  <table mat-table [dataSource]="list" matSort class="mat-elevation-z8">
    <ng-container matColumnDef="id" class="example">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let element;let i=index">{{element.id}}</td>
    </ng-container>
    <ng-container matColumnDef="first" class="example">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>First Name</th>
      <td mat-cell *matCellDef="let element; let i=index">{{element.first | uppercase}}</td>
    </ng-container>

    <ng-container matColumnDef="last" class="example">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
      <td mat-cell *matCellDef="let element;let i=index">{{element.last | uppercase}}</td>
    </ng-container>

    <ng-container matColumnDef="email" class="example">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
      <td mat-cell *matCellDef="let element;let i=index">{{element.email}}</td>
    </ng-container>


    <ng-container matColumnDef="gender" class="example">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Gender</th>
      <td mat-cell *matCellDef="let element; let i=index">{{element.gender}}</td>
    </ng-container>

    <ng-container matColumnDef="phone" class="example">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone</th>
      <td mat-cell *matCellDef="let element; let i=index">{{element.phone}}</td>
    </ng-container>

    <ng-container matColumnDef="percentage" class="example">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Percentage</th>
      <td mat-cell *matCellDef="let element; let i=index">{{element.percentage}}</td>
    </ng-container>

    <ng-container matColumnDef="address" class="example">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>
      <td mat-cell *matCellDef="let element; let i=index">
        <div class="address">
          <ng-container *ngFor="let address1 of element.address; let i=index">
            <div class="addresslist">
              <mat-list dense>
                <mat-list-item [ngStyle]="{'text-decoration':'underline'}" role="listitem"></mat-list-item>
                <mat-list-item role="listitem">{{address1.street}} {{address1.city}}</mat-list-item>
                <mat-list-item role="listitem">{{address1.pincode}} {{address1.state}}</mat-list-item>
                <mat-list-item role="listitem">{{address1.country}}</mat-list-item>
              </mat-list>
            </div>
          </ng-container>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="profile" class="example">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Profile</th>
      <td mat-cell *matCellDef="let element; let i=index"><svg (click)="onSelect(element)" aria-hidden="true"
          focusable="true" data-prefix="far" data-icon="user" class="svg-inline--fa fa-user fa-w-14" role="img"
          xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
          <path fill="currentColor"
            d="M313.6 304c-28.7 0-42.5 16-89.6 16-47.1 0-60.8-16-89.6-16C60.2 304 0 364.2 0 438.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-25.6c0-74.2-60.2-134.4-134.4-134.4zM400 464H48v-25.6c0-47.6 38.8-86.4 86.4-86.4 14.6 0 38.3 16 89.6 16 51.7 0 74.9-16 89.6-16 47.6 0 86.4 38.8 86.4 86.4V464zM224 288c79.5 0 144-64.5 144-144S303.5 0 224 0 80 64.5 80 144s64.5 144 144 144zm0-240c52.9 0 96 43.1 96 96s-43.1 96-96 96-96-43.1-96-96 43.1-96 96-96z">
          </path>
        </svg>
        <!--<button mat-button (click)="onSelect(element)"><i class="far fa-1x fa-user-circle"></i></button><-->
      </td>
    </ng-container>

    <ng-container matColumnDef="update" class="example">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Update</th>
      <td mat-cell *matCellDef="let element; let i=index"><svg (click)="openDialog(element,i)" aria-hidden="true"
          focusable="true" data-prefix="far" data-icon="edit" class="svg-inline--fa fa-edit fa-w-18" role="img"
          xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
          <path fill="currentColor"
            d="M402.3 344.9l32-32c5-5 13.7-1.5 13.7 5.7V464c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V112c0-26.5 21.5-48 48-48h273.5c7.1 0 10.7 8.6 5.7 13.7l-32 32c-1.5 1.5-3.5 2.3-5.7 2.3H48v352h352V350.5c0-2.1.8-4.1 2.3-5.6zm156.6-201.8L296.3 405.7l-90.4 10c-26.2 2.9-48.5-19.2-45.6-45.6l10-90.4L432.9 17.1c22.9-22.9 59.9-22.9 82.7 0l43.2 43.2c22.9 22.9 22.9 60 .1 82.8zM460.1 174L402 115.9 216.2 301.8l-7.3 65.3 65.3-7.3L460.1 174zm64.8-79.7l-43.2-43.2c-4.1-4.1-10.8-4.1-14.8 0L436 82l58.1 58.1 30.9-30.9c4-4.2 4-10.8-.1-14.9z">
          </path>
        </svg></td>
    </ng-container>

    <ng-container matColumnDef="delete" class="example">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Delete</th>
      <td mat-cell *matCellDef="let element; let i=index"><svg (click)="delete(element.id)" aria-hidden="true"
          focusable="true" data-prefix="far" data-icon="trash-alt" class="svg-inline--fa fa-trash-alt fa-w-14"
          role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
          <path fill="currentColor"
            d="M268 416h24a12 12 0 0 0 12-12V188a12 12 0 0 0-12-12h-24a12 12 0 0 0-12 12v216a12 12 0 0 0 12 12zM432 80h-82.41l-34-56.7A48 48 0 0 0 274.41 0H173.59a48 48 0 0 0-41.16 23.3L98.41 80H16A16 16 0 0 0 0 96v16a16 16 0 0 0 16 16h16v336a48 48 0 0 0 48 48h288a48 48 0 0 0 48-48V128h16a16 16 0 0 0 16-16V96a16 16 0 0 0-16-16zM171.84 50.91A6 6 0 0 1 177 48h94a6 6 0 0 1 5.15 2.91L293.61 80H154.39zM368 464H80V128h288zm-212-48h24a12 12 0 0 0 12-12V188a12 12 0 0 0-12-12h-24a12 12 0 0 0-12 12v216a12 12 0 0 0 12 12z">
          </path>
        </svg></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="personal1"></tr>
    <tr mat-row *matRowDef="let row; columns:personal1"></tr>
  </table>

</div>

<!--<mat-form-field class="example" appearance="outline">
  <mat-label>Search</mat-label>
  <input matInput (keyup)="filter($event)">
</mat-form-field>

<mat-paginator [pageSizeOptions]="[2,4,6]" showFirstLastButtons></mat-paginator>


<mat-accordion>
  <table mat-table [dataSource]="list" matSort class="mat-elevation-z8">

    <mat-expansion-panel (opened)="openState = true" (closed)="openState =false">
      <mat-expansion-panel-header>

        <mat-panel-title>
          <ng-container matColumnDef="id" class="example">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
            <td mat-cell *matCellDef="let element">{{element.id}}</td>
          </ng-container>
        </mat-panel-title>

        <mat-panel-description>

          iwiwhdkwhreiwhewih

        </mat-panel-description>

      </mat-expansion-panel-header>
      <p>satawwijdewidwkdjskdjk</p>
    </mat-expansion-panel>



    <mat-expansion-panel (opened)="openState =true" (closed)="openState =false">
      <mat-expansion-panel-header>

        <ng-container matColumnDef="first" class="example">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>First Name</th>
          <td mat-cell *matCellDef="let element">{{element.first | uppercase}}</td>
        </ng-container>

      </mat-expansion-panel-header>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="openState =true" (closed)="openState =false">
      <mat-expansion-panel-header>

        <ng-container matColumnDef="last" class="example">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
          <td mat-cell *matCellDef="let element">{{element.last | uppercase}}</td>
        </ng-container>

      </mat-expansion-panel-header>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="openState =true" (closed)="openState =false">
      <mat-expansion-panel-header>

        <ng-container matColumnDef="email" class="example">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
          <td mat-cell *matCellDef="let element">{{element.email}}</td>
        </ng-container>

      </mat-expansion-panel-header>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="openState =true" (closed)="openState =false">
      <mat-expansion-panel-header>

        <ng-container matColumnDef="gender" class="example">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Gender</th>
          <td mat-cell *matCellDef="let element">{{element.gender}}</td>
        </ng-container>

      </mat-expansion-panel-header>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="openState =true" (closed)="openState =false">
      <mat-expansion-panel-header>

        <ng-container matColumnDef="phone" class="example">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone</th>
          <td mat-cell *matCellDef="let element">{{element.phone}}</td>
        </ng-container>

      </mat-expansion-panel-header>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="openState =true" (closed)="openState =false">
      <mat-expansion-panel-header>

        <ng-container matColumnDef="percentage" class="example">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Percentage</th>
          <td mat-cell *matCellDef="let element">{{element.percentage}}</td>
        </ng-container>

      </mat-expansion-panel-header>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="openState =true" (closed)="openState =false">
      <mat-expansion-panel-header>

        <ng-container matColumnDef="address" class="example">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>
          <td mat-cell *matCellDef="let element">
            <div class="address">
              <ng-container *ngFor="let address1 of element.address; let i=index">
                <div class="addresslist">
                  <mat-list dense>
                    <mat-list-item [ngStyle]="{'text-decoration':'underline'}" role="listitem">{{addresstype[i] |
                      uppercase}}</mat-list-item>
                    <mat-list-item role="listitem">{{address1.street}},{{address1.city}}</mat-list-item>
                    <mat-list-item role="listitem">{{address1.pincode}},{{address1.state}}</mat-list-item>
                    <mat-list-item role="listitem">{{address1.country}}</mat-list-item>
                  </mat-list>
                </div>
              </ng-container>
            </div>
          </td>
        </ng-container>

      </mat-expansion-panel-header>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="openState =true" (closed)="openState =false">
      <mat-expansion-panel-header>

        <ng-container matColumnDef="profile" class="example">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Profile</th>
          <td mat-cell *matCellDef="let element; let i=index"><button mat-button (click)="onSelect(element)"><i
                class="far fa-1x fa-user-circle"></i></button></td>
        </ng-container>

      </mat-expansion-panel-header>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="openState =true" (closed)="openState =false">
      <mat-expansion-panel-header>

        <ng-container matColumnDef="update" class="example">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Update</th>
          <td mat-cell *matCellDef="let element; let i=index"><button (click)="openDialog(element,i)" mat-button><i
                class="far fa-1x fa-edit"></i></button></td>
        </ng-container>

      </mat-expansion-panel-header>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="openState =true" (closed)="openState =false">
      <mat-expansion-panel-header>

        <ng-container matColumnDef="delete" class="example">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Delete</th>
          <td mat-cell *matCellDef="let element; let i=index"><button (click)="delete(i)" mat-button><i
                class="far fa-1x fa-trash-alt"></i></button></td>
        </ng-container>

      </mat-expansion-panel-header>
    </mat-expansion-panel>

    <tr mat-header-row *matHeaderRowDef="personal1"></tr>
    <tr mat-row *matRowDef="let row; columns:personal1"></tr>


  </table>
</mat-accordion>-->
