table{
  width: 100%;
}

.example-card{
  width:1000px;
  margin-left:250px;
  margin-top:50px;
  margin-bottom:100px;
}

p{
  font-size: 16px;
}

.example-header-image{
background-image: url('C:\Users\Satya\OneDrive\Documents\angular\Angular Material\student\src\assets\user-tie-solid.svg');
background-size: cover;
}

.temporary{
  padding-top:50px;
}

.perment{
  padding-top:50px;
}
