.body{
  background-color: #f8f5f1;
  padding:30px;
}

table{
  width: 100%;
}

.example-card{
  width:1000px;
  margin-left:230px;
  margin-top:50px;
  margin-bottom:100px;
  border-radius: 10px;
  border-width: 30px;
}

p{
  font-size: 16px;
}

.example-header-image{
background-image: url('C:\Users\Satya\OneDrive\Documents\angular\Angular Material\student\src\assets\user-regular.svg');
background-size: cover;
background-position: top;
}

.temporary{
  padding-top:50px;
}

.perment{
  padding-top:50px;
}

.button{
  padding-top:50px;
}
